footer {
    background: $black;
    padding: 20px 10px;
    display: grid;
    grid-template-columns: 20% 80%;
    border-radius: 10px 10px 0 0;
    @media (max-width: 825px){
        grid-template-columns: 30% 70%;
        @media (max-width: 565px){
            display: flex;
            flex-direction: column;
        }
    }
    .left {
        h3 {
            text-align: center;
            font-size: clamp(1rem, 1.8vw, 1.8rem);
        }
        nav {
            margin: 0 10px;
            ul {
                li {
                    border: 1px solid $peurple;
                    text-align: center;
                    margin: 10px 0;
                    background: $peurple;
                    border-radius: 5px;
                    padding: 10px;
                    transition: background-color 0.3s ease, border-color 0.3s ease;
                    a {
                        color: $white; 
                        transition: color 0.3s ease;
                    }
                }
                li:hover {
                    background-color: $white;
                    border-color: $white; 
                    a {
                        color: $black;
                    }
                }
            }
        }
    }
    .right {
        h3{
            padding-left: 150px;
            font-size: clamp(1rem, 1.8vw, 1.8rem);
            @media (max-width: 750px){
                padding-left: 50px;
                @media (max-width: 650px){
                    padding-left: 0;
                    text-align: center;
                    @media (max-width: 514px){
                        margin-top: 20px;
                    }
                }
            }
        }
        .image {
            display: flex;
            padding-left: 250px;
            justify-content: space-between;
            margin-top: 40px;
            gap: 20px;
            @media (max-width: 750px){
                padding-left: 100px;
                @media (max-width: 650px){
                       padding: 0 10px;
                       @media (max-width: 514px){
                        margin-top: 20px;
                       } 
                    }
            }
            .img1 {
                cursor: pointer;
                height: 100px;
                width: 100px;
                @include background-img("../Imgs/investlogo2blue.png", contain, center, no-repeat, scroll);
            }
            .img2 {
                cursor: pointer;
                height: 100px;
                width: 100px;
                @include background-img("../Imgs/investlogo3blue.png", contain, center, no-repeat, scroll);
            }
            .img3 {
                cursor: pointer;
                height: 100px;
                width: 100px;
                @include background-img("../Imgs/investlogo4blue.png", contain, center, no-repeat, scroll);
            }
        }
    }
}
